{% extends "index.html" %}

{% block title %}{{category_name}}{% endblock %}

{% block sidebar_content %}
    <li><a href="{{url_for('index')}}">All</a></li>
    {% for category in categories %}
        {% if category.name == category_name %}
            <li class="active"><a href="#">{{category_name}} <span class="sr-only">(current)</span></a></li>
        {% else %}
        		<li>
            		<a href = "{{url_for('categoryItems',category_name=category.name)}}">
            		    {{category.name}}
            		</a>
        		</li>
    		{% endif %}
    {% endfor %}
{% endblock %}