{% extends "main.html" %}
{% block title %}Create Item{% endblock %}
{% block content %}
    <div class="container">
      <div class="row">
        <h1 class="page-header">{{action}} Item</h1>
<!--Adapted from http://pythonthusiast.pythonblogs.com/230_pythonthusiast/archive/1315_flask_biography_tutorial_part_vi__adding_sign_up_form_using_bootstrap_3_and_flask-wtf.html-->
        <form action="{{url}}" class="form-horizontal" method="POST">
                <div class="form-group {% if form.name.errors %} has-error {% endif %}">
                {{form.name.label(class="col-sm-1")}}
                <div class="col-sm-5">
                {{ form.name(placeholder="E.g. Soccer ball", class="form-control") }} 
                </div>
                <p class="col-sm-6 help-block">
                {{ form.name.errors[0] }}
                </div>
                <div class="form-group {% if form.description.errors %} has-error {% endif %}">
                {{form.description.label(class="col-sm-1")}}
                <div class="col-sm-5">
                {{ form.description(placeholder="A brief description of the item", class="form-control", rows="3") }}
                </div>
                <p class="col-sm-6 help-block">
                {{ form.description.errors[0] }}
                </div>
                <div class="form-group {% if form.category_name.errors %} has-error {% endif %}">
                {{form.category_name.label(class="col-sm-1")}}
                <div class="col-sm-5">
                {{form.category_name(class="form-control")}}
                </div>
                <p class="col-sm-6 help-block">
                {{ form.category_name.errors[0] }}
                </div>
                <button class="btn btn-primary" type="submit">Create</button>
        </form>
      </div>
    </div>
{% endblock %}


